<!-- app.component.html -->






<ion-content class="ion-padding">
  <main class="w-full h-[850px] bg-cover pt-8" style="background-image: url('../../assets/imgs/tec.png');">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <div class="w-auto h-auto mb-6 text-center">
            <ion-text class="text-8xl font-bold text-left ion-text-blanco">¡Bienvenidos!</ion-text>
          </div>

          <div class="text-blanco text-5xl w-2/4 h-auto text-justify">
            <ion-text>Aquí encontrarás diversos alimentos y servicios que ofrecen los estudiantes del Instituto Tecnológico de Tepic.</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </main>
</ion-content>


