<!-- app.component.html -->

<ion-content class="ion-align-items-center ion-justify-content-center">
  <main class="w-full h-[850px] bg-cover pt-8 flex" style="background-image: url('../../assets/imgs/tec.png');">
    <div class="w-auto h-auto flex flex-col justify-center items-center mx-auto">
      <div class="w-auto h-auto mb-6 text-center">
          <span class="text-8xl font-bold text-left text-blanco">¡Bienvenidos!</span>
      </div>
      <div class="text-blanco text-5xl w-2/4 h-auto text-justify">
          <span>Aquí encontrarás diversos alimentos y servicios que ofrecen los estudiantes del Instituto Tecnológico de Tepic.</span>
      </div>
  </div>
  </main>
</ion-content>
